/* body */
body {
    font-family: "Montserrat";
    text-align: center;
}


/* Headings */
.big-heading {
    font-family: "Source Serif 4", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5; 
     
}
.section-heading {
    font-family: 'Montserrat-Bold';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}



/* Container */
.container-fluid {
    padding: 7% 15%;
}

/* Sections */
.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}



/* Navigation Bar */
.navbar {
    padding-bottom: 4.5rem;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}


.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-family: "Montserrat-Light";
    font-size: 1.2rem;
    color: #8f8f8f;
}
.nav-item:hover {
    color: #fff;
}

/* title section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

.title-img {
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
   
}




/* Download Button */
.download-btn {
    margin: 3rem 1rem 3rem 0;
}



/* Features Section */
#features {
    background-color: white;
    position: relative; 
}


.feature-box {
    padding: 4.5%;    
}
.container-feature {
    padding: 5% 15%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1.5rem;
}
.icon:hover {
    color: #f81f3f;
}

.features-h3{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem; 
}
.features-p {
    color: #8f8f8f;
}

/* Testimonial */
#testimonials {
    background-color: #ef8172;
    font-family: 'Montserrat-Bold';
    
}

.testimonials-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

em {
    font-size: 1.2rem;
}



/* press */
#press {
    background-color: #ef8172;
}

.press-img {
    width: 15%;
    margin: 20px 20px 75px;
}


/* Pricing Section */
#pricing {
    padding: 100px;
}
.pricing-col {
    padding: 3% 2%;
}


/* Call to Action Section */

.cta-h3 {
    font-family: "Source Serif 4";  
    line-height: 1.5;
    font-size: 3.2rem;
}

/* Footer Section */


.footer-fab {
    margin: 20px 10px;
}

.footer-p {
    color: #8f8f8f;
}

/* Media Query */
@media (max-width: 992px)
{
    .title-img {
        width: 60%;
        position: static;
        transform: rotate(0);
    }

    
    #title .container-fluid {
        text-align: center;
    }
}
