/* body */
body {
    font-family: "Montserrat";
  
}



/* Navigation Bar */
.navbar {
    padding-bottom: 4.5rem;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar-nav {
    text-align: center;
    
}

.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-family: "Montserrat-Light";
    font-size: 1.2rem;
    color: #8f8f8f;
}
.nav-item:hover {
    color: #fff;
}

/* title section */
#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15%;
}
h1 {
    font-family: "Source Serif 4", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5; 
     
}
.title-img {
    width: 60%;
    transform: rotate(25deg);
}



/* Download Button */
.download-btn {
    margin: 3rem 1rem 3rem 0;
}



/* Features Section */
#feature {
    text-align: center;
    
}
.feature-box {
    padding: 4.5%;
    text-align: center;
}
.container-feature {
    padding: 5% 15%;
    
}

.icon {
    color: #ef8172;
    margin-bottom: 1.5rem;
}
.icon:hover {
    color: #f81f3f;
}

h3 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center; 
}
.features-p {
    color: #8f8f8f;
    text-align: center;
}

/* Testimonial */
#testimonials {
    background-color: #ef8172;
    text-align: center;
    color: white;
    font-family: 'Montserrat-Bold';
    
}
h2 {
    font-family: 'Montserrat-Bold';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    
}
.testimonials-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

em {
    font-size: 1.2rem;
}

.carousel-item {
    padding: 7% 15%;
}

/* press */
#press {
    background-color: #ef8172;
    text-align: center;
}

.press-img {
    width: 15%;
    margin: 20px 20px 75px;
}


/* Pricing Section */
#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-col {
    padding: 3% 2%;
}


/* Call to Action Section */
#cta {
    background-color:#ff4c68;
    text-align: center;
    padding: 7% 0;
    color: #fff;
    
}

/* Footer Section */
#footer {
    text-align: center;
    padding: 7% 15%;
}

.footer-fab {
    margin: 20px 10px;
}